@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif; 
    font-family: 'Roboto', sans-serif; 
    margin: 0%;
    padding: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.container {
    width: 100%;
    margin: 0% auto;
    flex: 1;
}

header,
footer {
    background-color: #A594F9;
    color: #F7EFE5;
    text-align: center;
    padding: 0.25% 2%;
}

/* Transparent header for homepage */
.header-transparent {
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    background-color: transparent;
    color: rgb(0, 0, 0); 
    z-index: 10; 
}

.header-transparent nav ul li {
    margin: 0 3%;
}
  
.header-transparent a {
    color: #E5D9F2; 
    font-size: large;
    text-shadow: 1px 1px 3px rgba(165, 148, 249, 0.5);
}

/* Regular header for other pages */
header {
    font-family: "Josefin Sans", sans-serif;
    background-color: #E5D9F2;
    color: #A594F9;
    text-align: center;
    font-size: medium;
    position: relative;
    z-index: 10;
}

footer {
    margin-top: auto;
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: 10;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-right: 3rem;
}

header nav ul li {
    display:inline-block;
    margin: 0 3%;
}

a {
    text-decoration: none;
    color: #2E073F;
    /* text-shadow: 1px 1px 3px rgb(255, 255, 255);  */
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;

}


main {
    padding: 5%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    width: 100%;
    padding: 2%;
}

@media (min-width: 768px) {
    .grid-item {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .grid-item {
        width: 33%;
    }
}

