@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Josefin Sans", sans-serif;
}

.constructionPageWrapper {
    height: 92.4vh; /* Ensure it covers the full viewport height */
    background: linear-gradient(to right, #1A1A1A, #4B0082);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem; /* Add padding for small devices */
}

.constructionHeader h1,
.constructionHeader h2 {
    background: linear-gradient(to right, #C8A1E0, #F5EFFF);
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    color: transparent; /* Fallback for other browsers */
    text-align: center;
}

/* Header Font Sizes */
.constructionHeader h1 {
    font-size: 3rem;
}

.constructionHeader h2 {
    font-size: 2rem;
}

/* Highlight Styling */
#highlight {
    background: linear-gradient(to right, #FF7F50, #FF1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .constructionPageWrapper {
        /* height: auto;  */
        padding: 2rem; /* Increased padding for mobile */
    }

    .constructionHeader h1 {
        font-size: 2.5rem; /* Adjust font size for smaller screens */
    }

    .constructionHeader h2 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .constructionHeader h1 {
        font-size: 2rem; /* Further decrease for very small screens */
    }

    .constructionHeader h2 {
        font-size: 1.2rem; /* Further decrease for very small screens */
    }
}
