@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.pastor-main {
    position: absolute;
    font-family: "Josefin Sans", sans-serif;
    height: 120vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1A1A1A, #4B0082);
    /* background-color: #697565;
    /* background: url('../../public/images/5.png') no-repeat top center/cover; */ 
    background-size: cover;
    z-index: 1;
    /* overflow-x: hidden; */
}

/* .pastor-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.8);
    z-index: 2;
} */



.head h1 {
    background: linear-gradient(to right, #C8A1E0, #F5EFFF);
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    color: transparent; /* Fallback for other browsers */
    text-align: center; /* Center align text */
    font-size: 3rem;
    padding-top: 1rem;
}
.head h2 {
    background: linear-gradient(to right, #C8A1E0, #F5EFFF);
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    color: transparent; /* Fallback for other browsers */
    text-align: center; /* Center align text */
    font-size: 2rem;
}

#highlight {
    background: linear-gradient(to right, #FF7F50, #FF1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pastor-welcome-message p {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
    text-align: justify;
    font-size: 1.3rem;
    /* margin: 13%; */
    margin-top: 0.5em;
    padding: 1em;
}

.pastor-welcome-message {
    display: flex;
    margin: 0rem;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(to right, #FF7F50, #FF1493); */
    border-radius: 3rem;
    padding: 1rem; /* Add padding for better spacing */
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
    /* width: 100%; */
}

.pastorPhoto {
    flex: 1; /* Allow both sections to grow equally */
    margin: 1rem; /* Add margin for spacing */
    min-width: 10rem; /* Minimum width for responsiveness */
    max-width: 20rem; /* Maximum width for better layout */
    border-radius: 1rem; /* Rounded corners */
    padding: 1rem; /* Padding inside the sections */
    text-align: center;
}

.pastorMessage {
    flex: 1; /* Allow both sections to grow equally */
    margin: 1rem; /* Add margin for spacing */
    min-width: 30rem; /* Minimum width for responsiveness */
    max-width: 40rem; /* Maximum width for better layout */
    background: #E5D9F2; /* Background for better contrast */
    border-radius: 1rem; /* Rounded corners */
    padding: 1rem; /* Padding inside the sections */
    text-align: center;
}
.pastorMessage p{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: justify;
    font-size: 1rem;
    /* margin: 13%; */
    margin-top: 0.5em;
    padding: 1em;
    
}




.gowun-batang-bold {
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
}